numpy
pandas
matplotlib
scikit-learn
datasets
torch
transformers==4.46.3
sentence-transformers==3.3.1
huggingface-hub==0.26.2
tokenizers==0.20.3
faiss-cpu
langchain
langchain-community
langchain-huggingface
langchain-google-genai
langchain-groq
google-generativeai
keybert
ipywidgets
tqdm
python-dotenv
